<!-- templates home page -->
{% extends 'base.html' %}

{% block title %}
  <title> Домашняя | Каталог курсов</title>
{% endblock %}

{% block header %}
  <div class='jumbotron'>
    <h1>Каталог ваших курсов:</h1>
  </div>
{% endblock header %}


{% block content %}
  <h2>Здесь находится список всех добавленных курсов.</h2>

  <br>
  <ul>
    <h3><a href="{% url 'add-course' %}"><span class="glyphicon glyphicon-plus"></span> Добавить новый курс</a></h3>
  </ul>

  <br>
  <br>
  <h3>Выберите имя изображения, чтобы увидеть её подробное описание:</h3>
  <br>

  <ul>
    {% for course in courses %}
      <h3><li><a href="#"></a></li></h3>
    {% empty %}
      <h3><li>Курсов не обнаружено</li></h3>
    {% endfor %}
  </ul>

{% endblock content %}