<!-- base templates -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://faviconka.ru/ico/faviconka_ru_1392.png" type="image/png">

    {% block title %}{% endblock %}

    <!-- load static -->
    {% load static %}

      <link rel="stylesheet" type="text/css" href="{% static 'course/css/course.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'course/css/bootstrap.min.css' %}" />

      <script src="{% static 'course/js/jquery.min.js' %}"></script>
      <script src="{% static 'course/js/popper.min.js' %}"></script>
      <script src="{% static 'course/js/bootstrap.min.js' %}"></script>


    <!-- load items bootstrap -->
    {% load bootstrap3 %}

    <!-- load items css and JS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>
    <!-- static navigation panel -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'show-home' %}">Каталог курсов</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Поиск курсов</a>
          </ul>
        </div>
      </div>
    </nav>


    <!-- extends daughters templates -->
    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div> <!-- /container -->

    <!-- bottom page -->
    <footer class="footer">
      <br>
      <h3 align="center"><small>Ваш каталог для хранения курсов и их последующего изучения - 2017"</small></h3>
    </footer>
  </body>
</html>
